*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.container-fluid{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;

}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 80px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;

}
nav ul li a:hover{
    text-decoration: none;
    color: #044deb;
    font-size: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    display: flex;
    align-items: center;

}
.main{
    width:80%;
}
.col-2{
    flex-basis: 60%;
    position: relative;
    text-align: center;
    padding-top: 70px;
    right: 0;
    top: 0%;
    background: #3786e6;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: translateX(150px);

}
.col-2 h1{
    font-size: 100px;
    font-weight: 800;
    font-family:sans-serif;
    line-height: 80px;
    text-align: center;
    color: white;
}
.col-2 p{
    font-size: 24px;
    font-weight: 100;
    margin-top: 40px;
    text-align: left;
    margin-right: 40px;
    margin-left: 40px;
    color: white;
    

}



.btnLearn{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 20px;
    transform: translateX(10px);
}
.btnLearn button{
    width: 140px;
    padding: 12px 10px;
    border: 0;
    cursor: pointer;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    margin-bottom: 100px;
}
.cols-left{
    flex-basis: 20%;
    position: relative;
    display: flex;
    align-items: center;
    

}
.bg-image{
    background-image: url("brs.png");
    
}
.col-left h1{
    font-weight: bold;
}

.col-right{
    flex-basis: 100%;
    position: relative;
    text-align: center;

}
.col-left img{
    width: 80%;
}
.about p{
    font-size: 24px;
    font-weight: 100;
    text-align: justify;
}

.socials img{
    height: 25px;
    margin: 20px;
    cursor: pointer;
}
.socials{
    text-align: center;
}

@media only screen and (max-width: 700px){
    nav ul{
        width: 100%;
        background: #3786e6;
        position: absolute;
        top: 75px;
        z-index: 2;
        font-size: 14px;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
    }
    #menulist{
        overflow: hidden;
        transition: 0.5s;

    }
}

